# Игнорировать все файлы временных данных
*.log
*.tmp

# Игнорировать директории build и temp
build/
temp/

# Игнорировать файлы конфигурации IDE
.idea/
.vscode/

# Игнорировать зависимости (например, для Node.js)
node_modules/